CMakeListsPrivate.txt
.clang_complete
.gcc-flags.json
.pioenvs
.piolibdeps
.vscode
/target
**/.idea/
**/cmake-build-*/
**/lib/readme.txt
**/data/
CMakeLists.txt
/platformio.ini
*/README
**/.project
**/.cproject
**/.settings
.pio
**/qr/